__pycache__
stdvoidsim/_version.py
docs/_build
docs/_ext
docs/parameter_images
.*.swp
build
dist
stdvoidsim.egg-info
.coverage
htmlcov
_test_cache
test_cache
.manuscript
.test/*
!.test/run_slim_test.py
!.test/run_simulation.py
!.test/README.txt
!.test/run_cli_test.sh
!.test/install_and_run.sh
